:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --white: #fff;
  --black: #000;
  --dark: #232830;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Quicksand", sans-serif;
}
.my-order {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: var(--lg);
}
.span-date {
  font-weight: bold;
}
.span-button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: var(--very-light-pink);
}
.span-button-description {
  display: flex;
  align-items: center;
  color: var(--very-light-pink);
  margin-top: 10px;
}
.content-money {
  display: flex;
  align-items: center;
  font-size: var(--md);
}
.my-order-container {
  width: 430px;
  margin: 0 20px;
}
.container-content {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 24px;
}
.content-description {
  display: flex;
  flex-direction: column;
}
.container-content .main-content{
    display: flex;
}
.arrow{
    width: 10px;
    margin-left: 15px;
}
